{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoadTrip Planner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/" class="left brand-logo">ON THE ROAD</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'roadtrip_list' %}">RoadTrips</a></li>
                    <li><a href="{% url 'roadtrips_form' %}">Make Your Own RoadTrip</a></li>
                    <li><a href="{% url 'stay_list' %}">Stays</a></li>
                    <!-- <li><a href="{% url 'stays_form' %}">Add a stay</a></li> -->
                    <li><a href="{% url 'about' %}">About</a></li>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">All Rights Reserved &copy; 2021 Maria Mergal GTB</footer>
</body>
</html>