{% extends 'base.html' %}
{% block content %}
<div class="listheader">
<h1>Here are the possible stays during your roadtrips:</h1>
</div>
<!-- {{ objects }} -->

{% for instance in objects %}
    <div class="card">
        <div class="card-content">
            <h3>Lodging Name: <a href="{{ instance.get_absolute_url }}/stay/{{ instance.id }}">{{instance.lodging_name}}</a></h3>
            <p>Type of stay: {{instance.type_of_place}} </p>
            <p>State: {{instance.state}} </p>
        </div>
    </div>

{% endfor %}

{% endblock %}